asm.bat
temp.txt
*.dbg
xa80_todo.xlsx
backup/
docs/research/
lac/xa80.txt
lib/
opcodes/lac/opcode_compiler.txt
opcodes/source/archived/
*.d80
*.hex
*.lst
*.map
test_prog/
*.o80
test_files/imported/
*.log
asm_all.bat
asm_sieve.bat
*.com
asm_monitor.bat
*.obj80
find.exe
mtouch.bat
touch.exe
lac/xa80pre.txt
