*.dbg
docs/research/
grammar/lib/
lib/
*.hex
*.lst
*.map
opcodes/source/archived/
*.log
*.o80
*.com
test_prog/
xa80_dev_tasks.xlsx
binaries/debug/
test_files/backup/
test_files/imported/
tch.bat
backup/
clean.bat
_deprecated/
