*.bat
*.com
*.dbg
*.docx
*.hex
*.log
*.lps
*.lst
*.map
*.o80
*.res
*.xcf
_deprecated/
backup/
binaries/debug/
binaries/debugleak/
docs/research/
grammar/lib/
lac/xa80oper.txt
lib/
opcodes/source/archived/
test_files/backup/
test_files/imported/
test_prog/
xa80_dev_tasks.xlsx